a{
    text-decoration: none;
}

.achievementspage{
    background-color: pink;
    border: solid 5px;
    border-color: #872996;
    padding: 24px;
    width: 50%;
    margin-left: 300px;
    margin-top: 100px;
}

.lists{
    margin-left: 20px;
    padding: 50px;
    font-size: 20px;
}

.logos{
    width: 30px;
}

.foots{
    display: flex;
    list-style: none;
    gap: 20px;
}

#built{
    font-size: 55px;
}

.footer{
    background-color: #E8E8EA;
    display: flex;
    gap: 30%;
    margin-top: 140px;
}

.foot{
    list-style: none;
    
}

/* #achievements{
    margin-left: 300px;
} */

.listone{
    margin-bottom: 20px;
}

#achievements{
    margin-left: 200px;
    font-size: 30px;
}

.navbar{
    background-color: #E8E8EA;
    padding-bottom: 20px;
    display: flex;
    gap: 10%;
    /* padding-top: 15px; */
} 

/* .navbar{
    background-color: #E8E8EA;
    padding-bottom: 20px;
    gap: 20%;
} */

#logo{
    width: 40px;
}