a{
    text-decoration: none;
    
    padding-bottom: 20px;
    gap: 13%;
}

.achievementspage{
    background-color: pink;
    border: solid 5px;
    border-color: #872996;
    padding: 24px;
    width: 50%;
    margin-left: 300px;
    margin-top: 100px;
}

.lists{
    margin-left: 20px;
    padding: 50px;
    font-size: 20px;
}

.logos{
    width: 30px;
}

.foots{
    display: flex;
    list-style: none;
    gap: 20px;
}

#built{
    font-size: 55px;
}

.footer{
    background-color: #E8E8EA;
    display: flex;
    gap: 30%;
    margin-top: 140px;
}

.foot{
    list-style: none;
    
}

.listone{
    margin-bottom: 20px;
}

#achievements{
    margin-left: 200px;
    font-size: 30px;
}

.navbar{
    display: flex;
    gap: 14%;
    background-color: #E8E8EA;
    padding-top: 19px;
} 

#logo{
    width: 40px;
    margin-bottom: 13px;
}

#viewbutton{
    border-radius: 10px;
    width: 10%;
    padding: 6px;
}

@media screen and (min-width:280px) and (max-width:380px){
    .achievementspage{
    border-color: #872996; 
    margin-left: 30px;
    margin-top: 10px;
    }

    #achievements{
        margin-left: 20px; 
        font-size: 30px;
    } 

    .footer{
        background-color: #E8E8EA;
        flex-direction: column;
        gap: 30%;
        margin-top: 140px;
    }

    .navbar{
        flex-direction: column;
        gap: 14%;
        background-color: #E8E8EA;
        padding-top: 19px;
    }
}

@media screen and (min-width:381px) and (max-width:485px){
    .achievementspage{
        border-color: #872996; 
        margin-left: 30px;
        margin-top: 10px;
    
        }
    
        #achievements{
            margin-left: 20px; 
            font-size: 30px;
        } 
    
        .footer{
            background-color: #E8E8EA;
            flex-direction: column;
            gap: 30%;
            margin-top: 140px;
        }
    
        .navbar{
            flex-direction: column;
            gap: 14%;
            background-color: #E8E8EA;
            padding-top: 19px;
        }
}

@media screen and(min-width:900px) and (max-width:1000px){
    .achievementspage{
        border-color: #872996; 
        margin-left: 30px;
        margin-top: 10px;
    
        }
    
        #achievements{
            margin-left: 20px; 
            font-size: 30px;
        } 
    
        .footer{
            background-color: #E8E8EA;
            flex-direction: column;
            gap: 30%;
            margin-top: 140px;
        }
    
        .navbar{
            flex-direction: column;
            gap: 14%;
            background-color: #E8E8EA;
            padding-top: 19px;
        }
}
