

#logo{
    width: 40px;
}

#pic{
    width: 800px;
}

.mentorlogo{
    display: flex;
}

.navbar{
    gap: 10%;
    display: flex;
    background-color: #E8E8EA;
}

.homenav{
    margin-top: 15px;
}

.nav{
    margin-top: 15px;
}

a{
    text-decoration: none;
}

.homepagetext{
    font-size: 45px;
}

.texthomepage{
    display: flex;
    gap: 5%;
    margin-top: 5%;
}

#footertext{
    margin-left: 20%;
}
@media screen and (min-width:280px) and (max-width:653px){
    .texthomepage{
        flex-direction: column;
        gap: 5%;
        margin-top: 5%;
    }

    #pic{
        width: 300px;
    }

    .homepagetext{
        font-size: 20px;
    }

    .navbar{
        flex-direction: column;
    }
}

