body{
    /* margin: 40px; */
} 

/* #logo{
    width: 40px;
} */

#logo{
    width: 40px;
    margin-top: 8px;
    margin-left: 5px;
}

#pic{
    width: 600px;
}

.mentorlogo{
    display: flex;
}

/* .navbar{
    gap: 10%;
    display: flex;
    background-color: #E8E8EA;
} */

.navbar{
    background-color: #E8E8EA;
    padding-bottom: 20px;
    display: flex;
    gap: 10%;
}

.homenav{
    margin-top: 15px;
}

.nav{
    margin-top: 15px;
}

a{
    text-decoration: none;
}

.text{
    font-size: 40px;
    margin-bottom: 40px;
}

.texthomepage{
    display: flex;
    gap: 10%;
    margin-top: 5%;
    margin-left: 7%;
}

.logos{
    width: 30px;
}

.foots{
    display: flex;
    list-style: none;
    gap: 20px;
}

#built{
    font-size: 55px;
}

.footer{
    background-color: #E8E8EA;
    display: flex;
    gap: 30%;
    margin-top: 120px;
}

.foot{
    list-style: none;
    
}

#footertext{
    margin-left: 30%;
    font-style: italic;
    color: purple;
    margin-bottom: 20px;
    font-size: x-large;
}
@media screen and (min-width:280px) and (max-width:653px){
    .texthomepage{
        flex-direction: column;
        gap: 5%;
        margin-top: 5%;
    }

    #pic{
        width: 300px;
    }

    .homepagetext{
        font-size: 20px;
    }

    .navbar{
        flex-direction: column;
    }

    .footer{
        flex-direction: column;
    }

    .text{
        font-size: 35px;
    }
    .navbar{
        width: 95%;
    }
}

