#novel{
    width: 300px;
}

.summary{
    display: flex;
}

#heading{
   margin-left: 300px;
   font-size: 35px;
   margin-top: 20px;
}

#bornacrimepic{
    width: 250px;
    margin-left: 600px;
    margin-top: 30px;
}

.bornacrimesummary{
    gap: 500px;
}

.text{
    margin-left: 380px;
    font-size: 17px;

}