#signupbutton{
    color: #872996;
}

.signup-page{
    background-color: pink;
    /* border: solid 5px;  */
    /* border-color: #872996; */
    padding: 1px;
    width: 50%;
    margin-left: 300px; 
}

.signuplabels{
    margin-left: 300px;
}  

#signupbutton{
    background-color: #872996;
    color: white; 
    padding: 10px;
    border-radius: 20px;
    font-size: larger;
    margin-left: 280px;
}

#signup{
    margin-left: 10px;
    margin-right: 10px;
}

#loginprompt{
    font-size: 20px;
    margin-left: 160px;
}

.input{
    border-radius: 10px;
    padding: 7px 18px 7px 18px;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 140px;
}

.inputs{
    border-radius: 10px;
    padding: 7px 18px 7px 18px;
    width: 50%;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 140px;
}

a{
    text-decoration: none;
    flex-direction: column;
    margin-left: 150px;
    color: white;
}

#login{
    color: black;
    margin-left: 10px;
}

.nav{
    background-color: #E8E8EA;
    padding-bottom: 20px;
    display: flex;
    color: purple;
    gap: 40px;
}

.navbar{
    color: purple;
    padding-top: 18px;
} 

#signupheading{
    margin-left: 300px;
}

#logo{
    width: 40px;
    margin-top: 8px;
    margin-left: 5px;
}

@media screen and (min-width:375px) and (max-width: 475px){
    .inputs{
        border-radius: 10px;
        padding: 7px 18px 7px 18px;
        width: 50%;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .input{
        border-radius: 10px;
        padding: 7px 18px 7px 18px;
        width: 50%; 
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }

    #signupheading{
        margin-left: 30px;
    }

    #signupbutton{
        margin-left: 20px;
    }

    .signup-page{
        background-color: pink;
        border: solid 5px; 
        border-color: #872996;
        margin-top: 5px;  
    }    
}

@media screen and (min-width:476px) and (max-width:653px){
    .inputs{
        border-radius: 10px;
        padding: 7px 18px 7px 18px;
        width: 50%;
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }

    .input{
        border-radius: 10px;
        padding: 7px 18px 7px 18px;
        width: 50%; 
        margin-bottom: 20px;
        margin-top: 10px;
        margin-left: 10px;
    }

    #signupheading{
        margin-left: 30px;
    }

    #signupbutton{
        margin-left: 20px;
    }

    .signup-page{
        background-color: pink;
        border: solid 5px; 
        border-color: #872996;
        /* padding: 1px; */
        
        /* margin-left: 300px;  */
        margin-top: 5px;  
    }
}

@media screen and (min-width:654px) and (max-width:900px){
     
}

@media only screen and (max-width: 1200px){
   
}

@media only screen and (max-width: 1366px){
    
}