.dot{
 size: 1.5rem;
 font-size: 20px;
 margin-top: 10px;
}

.to-dos{
    margin-left: 200px;
}

#heading{
    margin-left: 600px;
}

a{
    text-decoration: none;
    /* gap: 10%; */
    margin-left: 14%; 
}

/* #logo{
    width: 50px;
} */

#logo{
    width: 40px;
    margin-top: 9px;
    margin-left: 5px;
}


/* .navbar{
    margin-bottom: 10px;
    background-color: #E8E8EA;
    padding: 20px;
} */

.nav{
    background-color: #E8E8EA;
    padding-bottom: 20px;
    
   
}

.lists{
    margin-top: 40px;
    font-size: 20px;
    margin-left: 300px;
    background-color: pink;
    border: solid 5px;
    border-color: #872996;
    padding: 24px;
    width: 50%;
}

.listtwo{
    margin-top: 70px;
}

.listthree{
    margin-top: 70px;
}

.viewbutton{
    width: 100px;
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

.logos{
    width: 30px;
}

.foots{
    display: flex;
    list-style: none;
    gap: 20px;
}

.footer{
    background-color: #E8E8EA;
    display: flex;
    gap: 30%;
    margin-top: 130px;
}

.foot{
    list-style: none;
    
}


@media screen and (min-width:365px) and (max-width:667px){
    #heading{
        font-size: large;
    } 

    .to-dos{
        margin-left: 100px;
    }

    .bodytext{
        margin: 0 auto;
    }
}
